<section>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark teal scrolling-navbar ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <strong>Jarvis DevOps</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a routerLink="/home" class="nav-link">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Features</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Demo</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Contacts</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>

</section>

<router-outlet></router-outlet>

<section>
  <!--Footer-->
<footer class="page-footer teal pt-4">

  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left">
      <div class="row">

          <!--First column-->
          <div class="col-md-6">
              <h5 class="title">Footer Content</h5>
              <p>Here you can use rows and columns here to organize your footer content.</p>
          </div>
          <!--/.First column-->

          <!--Second column-->
          <div class="col-md-6">
              <h5 class="title">Links</h5>
              <ul class="list-unstyled">
                  <li><a routerLink="/home">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Demo</a></li>
                  <li><a href="#">Contacts</a></li>
              </ul>
          </div>
          <!--/.Second column-->
      </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright text-center py-3">
      <div class="container-fluid">
          © 2018 Copyright: <a href="https://www.jarvisdevops.com"> JarvisDevOps.com </a>
      </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
</section>