<section>
  <div class="container">
    <div class="row">
      <div class="col mt-4">

        <div class="jumbotron mt-5">
          <h2 class="h1 h1-responsive">Page not found</h2>
          <p class="lead">This page doesn't exist.</p>
          <hr class="my-2">
          <p>This page doesn't exist.
          </p>
          <a routerLink="/home" class="btn btn-teal btn-lg waves-light" role="button" mdbWavesEffect>
            <mdb-icon icon="home" size="2x" class="mr-1"></mdb-icon>Go back to Home</a>
        </div>
      </div>
    </div>
  </div>
</section>